body {
    padding-top: 80px;
    padding-bottom: 20px;
}

.windowContainer {
    width: 180px;
    height: 80px;
    line-height: 80px;
    text-align: center;
}

.navbar-text {
    margin: 0;
    width: 80%;
}

/** ELEMENTS **/
.chart-demo .window {
    border: 1px solid #808080;
    display: inline-block;
    vertical-align: middle;
    line-height: normal;
    padding: 15px;
}

    /** HOVER EFFECTS **/
    .chart-demo .window:hover, .chart-demo .window._jsPlumb_source_hover, .chart-demo .window._jsPlumb_target_hover {
        border: 1px solid #323acb;
        color: #323acb;
    }

audio {
    display: block;
    width: 100%;
    padding: 1em;
    -moz-border-radius: 6px;
    border-radius: 6px;
}

.windowContainer a {
    text-decoration: underline;
}